.none {
	color: #ffffff;
	background-color: #9d81a2;
	padding: 5px;
}

.queued {
	color: orange;
	background-color: #9d81a2;
	padding: 5px;
}

.ready {
	color: #40E0D0;
	background-color: #9d81a2;
	padding: 5px;
}
